* {
  box-sizing: border-box;
}

body {
  background-color: #D8BFD8;
  color: #000080;
  font-family: "Geneva", sans-serif;
  margin: 4.5em;
}

/*  #container div (below) wraps one chart  */

h1 {font-family: "Georgia", serif;}

#container {
  width: 50%;
  height: 500px;
}

p { line-height: 1.5em; }

#chart2 {
  width: 50%;
  height: 500px;
}

/* links */

a {
  color: #0287b3;
}

a:hover {
  color: #FFFF00;
}


/* put your media queries below */
